In [1]:
import numpy as np
import pandas as pd

In [85]:
excel_file = 'Online Retail Data Set.xlsx'
Online_Retail_df = pd.read_excel(excel_file)

In [87]:
Online_Retail_df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [89]:
Online_Retail_df.tail()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
541904,581587,22613,PACK OF 20 SPACEBOY NAPKINS,12,2011-12-09 12:50:00,0.85,12680.0,France
541905,581587,22899,CHILDREN'S APRON DOLLY GIRL,6,2011-12-09 12:50:00,2.10,12680.0,France
541906,581587,23254,CHILDRENS CUTLERY DOLLY GIRL,4,2011-12-09 12:50:00,4.15,12680.0,France
541907,581587,23255,CHILDRENS CUTLERY CIRCUS PARADE,4,2011-12-09 12:50:00,4.15,12680.0,France
541908,581587,22138,BAKING SET 9 PIECE RETROSPOT,3,2011-12-09 12:50:00,4.95,12680.0,France

In [53]:
Online_Retail_df.shape

(541909, 8)

In [55]:
Online_Retail_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

In [57]:
Online_Retail_df.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [61]:
#Create a check that the quantity should not be below 1 unit
# Count the number of values less than 1 in the 'quantity' column 
count_less_than_1 = (Online_Retail_df['Quantity'] < 1).sum() 
print(f"Number of values less than 1: {count_less_than_1}")

Number of values less than 1: 10624

In [69]:
# Drop rows where 'quantity' is less than 1 
# Get the index of rows where 'quantity' is less than 1 
index_to_drop_Quantity = Online_Retail_df[Online_Retail_df['Quantity'] < 1].index 

# Drop these rows 
Online_Retail_df.drop(index_to_drop_Quantity, inplace=True)

count_less_than_1 = (Online_Retail_df['Quantity'] < 1).sum() 
print(f"Number of values less than 1: {count_less_than_1}")

Number of values less than 1: 0

In [71]:
Online_Retail_df.shape

(531285, 8)

In [81]:
#Create a check that the Unit price should not be below $0
# Count the number of values less than 0 in the 'Unit Price' column 
count_less_than_0 = (Online_Retail_df['UnitPrice'] < 0.0).sum() 
print(f"Number of values less than 0: {count_less_than_0}")

Number of values less than 0: 0

In [75]:
# # Get the index of rows where 'quantity' is less than 1 
# index_to_drop_2 = Online_Retail_df[Online_Retail_df['UnitPrice'] < 0].index 

# # Drop these rows 
# Online_Retail_df.drop(index_to_drop_2, inplace=True)

# count_less_than_0_2 = (Online_Retail_df['UnitPrice'] < 0).sum() 
# print(f"Number of values less than 0: {count_less_than_0_2}")

Number of values less than 0: 0

In [83]:
Online_Retail_df.shape

(531283, 8)

In [93]:
# Save the dataframe to an Excel file 
Online_Retail_df.to_excel(excel_file, index=False) 
print(f"Dataframe has been saved to {excel_file}")

Dataframe has been saved to Online Retail Data Set.xlsx